preProcessing.m~
/test
/imgs
/zipfiles
*.jpeg
.ipnyb_checkpoints/
.ipynb_checkpoints/
cropped/
IMG_20190128_201734.jpg
IMG_20190128_201734.mp4
frozen_east_text_detection.pb 
frozen_east_text_detection.tar.gz
*.log
